In [1]:
import pandas as pd

features = ['checking account balance', 'duration', 'credit history',
            'purpose', 'amount', 'savings', 'employment', 'installment',
            'marital status', 'other debtors', 'residence time',
            'property', 'age', 'other installments', 'housing', 'credits',
            'job', 'persons', 'phone', 'foreign', 'repaid']

data_raw = pd.read_csv("../../data/credit/german.data",
                 delim_whitespace=True,
                 names=features)
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   checking account balance  1000 non-null   object
 1   duration                  1000 non-null   int64
 2   credit history            1000 non-null   object
 3   purpose                   1000 non-null   object
 4   amount                    1000 non-null   int64
 5   savings                   1000 non-null   object
 6   employment                1000 non-null   object
 7   installment               1000 non-null   int64
 8   marital status            1000 non-null   object
 9   other debtors             1000 non-null   object
 10  residence time            1000 non-null   int64
 11  property                  1000 non-null   object
 12  age                       1000 non-null   int64
 13  other installments        1000 non-null   object
 14  housing                   1000 non-null   object
 15  credits                   1000 non-null   int64
 16  job                       1000 non-null   object
 17  persons                   1000 non-null   int64
 18  phone                     1000 non-null   object
 19  foreign                   1000 non-null   object
 20  repaid                    1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

## Transforming the data set to a usable state

In [2]:
numeric_variables = ['duration', 'age', 'residence time', 'installment',
             'amount', 'persons', 'credits']
data = data_raw[numeric_variables]

# Mapping the response to 0 and 1
data["repaid"] = data_raw["repaid"].map({1:1, 2:0})

In [3]:
# Create dummy variables for all the catagorical variables
not_dummy_names = numeric_variables + ["repaid"]
dummy_names = [x not in not_dummy_names for x in features]
dummies = pd.get_dummies(data_raw.iloc[:,dummy_names], drop_first=True)
data = data.join(dummies)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 49 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   duration                      1000 non-null   int64
 1   age                           1000 non-null   int64
 2   residence time                1000 non-null   int64
 3   installment                   1000 non-null   int64
 4   amount                        1000 non-null   int64
 5   persons                       1000 non-null   int64
 6   credits                       1000 non-null   int64
 7   repaid                        1000 non-null   int64
 8   checking account balance_A12  1000 non-null   uint8
 9   checking account balance_A13  1000 non-null   uint8
 10  checking account balance_A14  1000 non-null   uint8
 11  credit history_A31            1000 non-null   uint8
 12  credit history_A32            1000 non-null   uint8
 13  credit history_A33            1000 non-null   uint8
 14  credit history_A34            1000 non-null   uint8
 15  purpose_A41                   1000 non-null   uint8
 16  purpose_A410                  1000 non-null   uint8
 17  purpose_A42                   1000 non-null   uint8
 18  purpose_A43                   1000 non-null   uint8
 19  purpose_A44                   1000 non-null   uint8
 20  purpose_A45                   1000 non-null   uint8
 21  purpose_A46                   1000 non-null   uint8
 22  purpose_A48                   1000 non-null   uint8
 23  purpose_A49                   1000 non-null   uint8
 24  savings_A62                   1000 non-null   uint8
 25  savings_A63                   1000 non-null   uint8
 26  savings_A64                   1000 non-null   uint8
 27  savings_A65                   1000 non-null   uint8
 28  employment_A72                1000 non-null   uint8
 29  employment_A73                1000 non-null   uint8
 30  employment_A74                1000 non-null   uint8
 31  employment_A75                1000 non-null   uint8
 32  marital status_A92            1000 non-null   uint8
 33  marital status_A93            1000 non-null   uint8
 34  marital status_A94            1000 non-null   uint8
 35  other debtors_A102            1000 non-null   uint8
 36  other debtors_A103            1000 non-null   uint8
 37  property_A122                 1000 non-null   uint8
 38  property_A123                 1000 non-null   uint8
 39  property_A124                 1000 non-null   uint8
 40  other installments_A142       1000 non-null   uint8
 41  other installments_A143       1000 non-null   uint8
 42  housing_A152                  1000 non-null   uint8
 43  housing_A153                  1000 non-null   uint8
 44  job_A172                      1000 non-null   uint8
 45  job_A173                      1000 non-null   uint8
 46  job_A174                      1000 non-null   uint8
 47  phone_A192                    1000 non-null   uint8
 48  foreign_A202                  1000 non-null   uint8
dtypes: int64(8), uint8(41)
memory usage: 102.7 KB